.navbar-brand .brand-logo {
  display: none !important;
}

.navbar-brand {
  text-indent: 0 !important;
  width: auto !important;
  background-image: url(./logo.png) !important;
  background-size: 24px 24px !important;
  background-repeat: no-repeat !important;
  background-position: 15px center !important;
  padding-left: 45px !important;
}

[cam-widget-header] {
  border-bottom-color: #5494B5 !important;
}