<module xmlns="urn:jboss:module:1.0" name="org.cadenzaflow.commons.cadenzaflow-commons-typed-values">
  <resources>
    <resource-root path="cadenzaflow-commons-typed-values-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    
    <module name="org.cadenzaflow.commons.cadenzaflow-commons-utils" />
    
  </dependencies>
</module>
