<module xmlns="urn:jboss:module:1.0" name="org.cadenzaflow.bpm.qa.cadenzaflow-qa-ensure-clean-db">
  <resources>
    <resource-root path="cadenzaflow-qa-ensure-clean-db-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.cadenzaflow.bpm.cadenzaflow-engine" />

  </dependencies>
</module>
